    <header>
      <div class="logo">
        <img src="app/img/logo.png" width="150" alt="">        
        <a>{{titulo}}</a>
        <span class="fa fa-bars fa-2" aria-hidden="true"></span>
      </div>

      <div class="accesos">
        <input class="busqueda" type="search" placeholder="Busqueda" name="txtBusqueda" >
        <div class="items">
          <span class="item fa fa-user fa-lg" aria-hidden="true"></span>
          <span class="item fa fa-bell-o fa-2" aria-hidden="true"></span>
          <span class="item fa fa-envelope-o fa-2" aria-hidden="true"></span>
          <span class="item fa fa-calendar fa-2" aria-hidden="true"></span>
          <span class="item fa fa-tasks fa-2" aria-hidden="true"></span>
        </div>
      </div>      
    </header>
    
    <div class="contenedor-main">
      
      <aside class="aside-izquierdo">
        <div class="widget">
          <div class="imagen"></div>
        </div>

        <div class="widget">
          <div class="imagen"></div>
        </div>
      </aside>
          
      <section class="main">
              <article>
                  <h2 class="titulo">Lorem ipsum dolor sit amet.</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                      nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                      anim id est laborum.</p>
              </article>

              <article>
                  <h2 class="titulo">Lorem ipsum dolor sit amet.</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                      nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                      anim id est laborum.</p>
              </article>
      </section>

      <aside class="aside-derecho">
        <div class="widget">
          <div class="imagen"></div>
        </div>

        <div class="widget">
          <div class="imagen"></div>
        </div>
      </aside>
      
    </div>

    <footer>
      <div class="social">
        <a href="#">FB</a>
        <a href="#">TW</a>
      </div>
      <section class="links">
        <a href="#">Copyright © 2016</a>
        <a href="#">Watch Tower Bible and Tract Society of Pennsylvania</a>
        <a href="#">Condiciones de uso</a>
        <a href="#">Política de privacidad</a>
      </section>
    </footer>
