header {
    background: #2b3643;
    color: #fff;
    font-size: 30px;
        
    /*FLEX*/
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;        
}
header .logo {
    width: 100%;
    padding: 15px 10px 15px 10px;
    
    /*FLEX*/
    display: flex;

    flex-direction: row;
    justify-content: space-between;
}
header .logo img {
    width: 25px;
    height: 25px;
    margin: 5px;
}
header .logo a {
    display: none;
}
header .accesos {
    width: 100%;
    padding: 15px 10px 15px 10px;
    background: #344150;
    
    /*FLEX*/
    display: flex;
    
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}
header .accesos .busqueda {
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}
header .accesos .items {
    
    /*FLEX*/
    display: flex;
    flex-wrap: wrap;
    
    justify-content: flex-end;
}
header .accesos .items .item {
    margin-left: 10px;
}
.contenedor-main {
    background: white;
    
    /*FLEX*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.contenedor-main .aside-izquierdo {
    background: #344150;
    display: none;

    /*FLEX*/
    flex:0 0 300px;
}
.contenedor-main .main {
    background: #fff;
    
    /*FLEX*/
    flex: 1;
}
.contenedor-main .aside-derecho {
    background: #21282e;
    display: none;
    
    /*FLEX*/
    flex:0 0 300px;
}
footer {
    background: #2c3e50;
    
    /*FLEX*/
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;        
}
footer .social {
    min-height: 50px;
    width: 100%;
    
    /*FLEX*/
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .social a {
    background: #c0392b;
    color: #fff;
    text-align: center;
    height: 25px;
    width: 25px;
    margin-right: 5px;
}
footer .social a:hover {
    background: #E74C3C;
}
footer .links {
    min-height: 50px;
    
    /*FLEX*/
    display: flex;
    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
footer .links a {
    color: #fff;
    text-align: center;
    
    margin-left: 10px;
    padding-left: 10px;
}
footer .links a:hover {
    font-weight: bold;
}

@media (min-width: 520px) {
    header .accesos {
        /*FLEX*/
        flex-direction: row;
    }    
    footer .social {
        justify-content: flex-end;
    }
    header .logo a {
        display: block;
    }    
}

@media (min-width: 700px) {
    header .logo {
        flex-direction: row;
    }
}

@media (min-width: 900px) {
    header {
        flex-direction: row; 
        flex-wrap: nowrap;
    }
    header .logo {
        /*FLEX*/
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    header .logo img {
        margin-right: 15px;
    }
    header .logo a {
        margin-right: 15px;
        font-size: 20px;
    }
    header .accesos {
        background: #2b3643;        
    }   
    .contenedor-main .aside-izquierdo {
        display: block;
    }    
}

@media (min-width: 1900px) {
    .contenedor-main .aside-derecho {
        display: block;
    }    
}
